@CHARSET "UTF-8";

/*Global Style Start*/
html, body {
    font-family: Microsoft YaHei, SimHei, SimSun;
    font-size: 14px;
    line-height: 1;
    overflow-x: hidden;
    max-width: 640px;
    margin: 0 auto;
    color: #333;
    background-color: #f5f5fa;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
}

header {
    background-color: #3475eb;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
}

/*Global Style End*/

.red {
    color: red;
}

.orange {
    color: orange;
}

.white {
    color: white;
}

.mt20 {
    margin-top: 20px;
}

.mt15 {
    margin-top: 15px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

.fs17 {
    font-size: 17px;
}

.bg-color-white {
    background-color: white;
}

.service-title {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
}

.no-service {
    padding: 20px 10px;
    text-align: center;
    color: #aaa;
}

.value-color {
    color: #333;
}

.bottom-btn {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.toptip {
    font-size: 17px;
    padding: 10px 0;
}

.weui-form-preview__btn2 {
    background-color: transparent;
    border: 0;
    outline: 0;
    line-height: inherit;
    font-size: inherit;
    width: 40%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}