<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>地址编辑</title>
		<link rel="stylesheet" href="lib/weui.min.css">
		<link rel="stylesheet" href="css/jquery-weui.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body style="height: 100%;font-family:'黑体';background-color: #F5F5F5;width: 100%;">
		<div class="weui-cells" style="margin-top: -0.7%;margin-bottom: -5px;">
			 <div class="weui-cell">
			   <div class="weui-cell__bd" style="text-align:center;height: 40px;">
			    	<div style="float: left;position: absolute;left: 3%;top: 33%;font-size: larger;">←</div>
					<div style="float: left;position: absolute;left: 40%;top: 35%;text-align: center;font-size: large;">地址编辑</div>
			   		<div style="float: left;position: absolute;left: 85%;top: 35%;">删除</div>
			   </div>
			 </div>
			 <div class="weui-cell" style="width: 100%;">
				<div style="float: left;width: 20%;">收货人</div>
				<div style="float: left;margin-left: 15%;">
					<input type="text" style="width: 90%;text-align: right;" maxlength="10" value="你好啊" />
				</div>
			</div>
			<div class="weui-cell" style="width: 100%;">
				<div style="float: left;width: 20%;">称谓</div>
				<div style="float: left;margin-left: 48%;">
					<label><input type="radio" name="gender" value="1" />男</label>
					<label><input type="radio" name="gender" value="2" />女</label>
				</div>
			</div>
			<div class="weui-cell" style="width: 100%;">
				<div style="float: left;width: 20%;">联系电话</div>
				<div style="float: left;margin-left: 15%;">
					<input type="text" style="width: 90%;text-align: right;" maxlength="10" value="13568956231" />
				</div>
			</div>
			<div class="weui-cell" style="width: 100%;">
				<div style="float: left;width: 20%;">所在区域</div>
				<div style="float: left;margin-left: 15%;">
					<input type="text" style="width: 90%;text-align: right;" maxlength="12" value="你好啊" />
				</div>
				<div style="float: left;">&gt;</div>
			</div>
			<div class="weui-cell" style="width: 100%;">
				<div style="float: left;width: 20%;">详细地址</div>
				<div style="float: left;margin-left: 24%;">
					<input type="text" style="width: 90%;text-align: right;font-size: smaller;" value="你好啊" />
				</div>
			</div>
		</div>
		
		<div class="weui-cells" style="position: absolute;bottom: 0px;width: 100%; text-align: center;color:white;font-family: '宋体';font-size: large;background-color: orange;">
			<div class="weui-cell">
				<div class="weui-cell__bd">
					保存
				</div>
			</div>
		</div>
		
		<script src="lib/jquery-2.1.4.js"></script> 
		<script src="lib/fastclick.js"></script> 
		<script src="js/jquery-weui.js"></script>
	</body>
</html>